<section
  class="h-[80vh] w-full bg-cover bg-center flex items-center justify-center text-white"
  style="background-image: url('/assets/hero.jpg')"
>

  <div class="text-center bg-black/60 p-8 rounded-xl max-w-xl">

    <h1 class="text-4xl md:text-5xl font-bold mb-4 leading-tight">
      Tu peludo se merece verse y sentirse bien
    </h1>

    <button
      (click)="goToBooking()"
      class="mt-4 bg-blue-500 hover:bg-blue-600 px-6 py-3 rounded-lg font-semibold transition">
      Pide tu cita
    </button>

  </div>

</section>